<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330723350497-11pls29edqls5ovs3rd8fjne737pnfsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330723350497-11pls29edqls5ovs3rd8fjne737pnfsf</string>
	<key>API_KEY</key>
	<string>AIzaSyArjySHH2EUktOnSik2YnvcQyoK_1U7Fyw</string>
	<key>GCM_SENDER_ID</key>
	<string>330723350497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>9VDCD83Z2R.com.sps.stonepaperscissor</string>
	<key>PROJECT_ID</key>
	<string>gsocialgo-27b90</string>
	<key>STORAGE_BUCKET</key>
	<string>gsocialgo-27b90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330723350497:ios:08e06a1daa6f9ae3</string>
	<key>DATABASE_URL</key>
	<string>https://gsocialgo-27b90.firebaseio.com</string>
</dict>
</plist>